/*  font-family: "Poppins", sans-serif; */
/*   font-family: "Public Sans", sans-serif; */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;

}

/* Common */
.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

:root {
    --text-color-back-gray: #575D5E;
    --primary-color-black-green: #143C3C;
    --text-color-white: #FFF;
    --primary-color-black: #152427;
    --Scondery-color-light-green: #E2EDDF;
    --text-color-light-gray: #7D8188
}

a {
    text-decoration: none;
}

.btn {
    min-width: 173px;
    height: 57px;
    background: var(--primary-color-black-green);
    border-radius: 99px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color-black-green);

    /* Paragraph/h2 18px medium */
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
    transition: 0.25s;
}

.btn:hover {
    background: var(--text-color-white);
    color: var(--primary-color-black-green);
}

.section__heading-h1 {
    color: var(--primary-color-black);

    /* Heading/H2 50px Extra bold */
    font-family: "Public Sans";
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    /* 120% */
}

.section_desc {
    margin-top: 12px;
    color: var(--text-color-back-gray);
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

/* .section__title */
.section__title {
    padding-left: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-black);
    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
}

.section__title::before {
    margin-right: 21px;
    display: block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

/* section__heading-h2 */
.section__heading-h2 {
    /* height: 104px; */
    color: var(--primary-color-black);

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.23;
    /* 123.81% */
}

.section__desc {
    color: var(--text-color-light-gray);
    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
}

.section__heading-h3 {
    margin-top: 13px;
    color: var(--primary-color-black-green);
    /* Paragraph/h3 18px bold */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

/* =================================================== Header =================================================== */
.header {
    font-family: "Public Sans", sans-serif;
    position: sticky;
    top: -7px;
    z-index: 3;
    background: #fff;
}

.header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 13px;

}

.header-wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);

}

.nav {
    margin-left: 400px;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 38px; */
}

.nav__item-link {
    position: relative;
    color: var(--text-color-back-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding: 8px 19px;
    /* 155.556% */
}

.nav__item-link:hover {
    color: var(--primary-color-black);
}

.nav__item:hover .nav__item-link::after {
    position: absolute;
    bottom: -22px;
    left: 19px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green)
}


/* =================================================== Hero =================================================== */
.hero {
    padding: 6% 0 12%;
    height: calc(100vh - 90px);
}

.hero-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
}

/* row-action */
.row-action {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-video__title {
    margin-left: 15px;
    color: #152427;
    text-align: center;

    /* Paragraph/h3 18px bold */
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

.btn-video__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #86A17C;
    border-radius: 50%;
    color: var(--text-color-white);
    border: 1px solid #86A17C;
}

.btn-video__link:hover .btn-video__icon {
    color: #86A17C;
    background-color: #fff;
}

.btn-video-icon-1 {
    position: absolute;
    left: -8px;
    top: -7px;
}

/* hero__images */
.hero__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 23px;
    width: 57%;
    height: 543px;
}

.hero_img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    overflow: hidden;
}

.hero_img:nth-of-type(2) {
    align-self: flex-end;
}

.hero__img-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flower__line-1 {
    position: relative;
    display: inline-block;
    top: -587px;
    left: 340px;
}

.flower-1 {
    position: absolute;
    top: 0;
    left: -45px;
}

.flower__line-2 {
    position: relative;
    display: inline-block;
    top: -305px;
    left: -62px;
}

.flower-2 {
    position: absolute;
    bottom: 29px;
    right: -42px;
}

/* =================================================== section-logo-wrap =================================================== */
.section-logo {
    margin-top: 42px;
}

.section-logo-wrap {


    border-radius: 100.5px;
    background: var(--Scondery-color-light-green);
    padding: 78px 0;
}

.section-logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 879px;
    margin: 0 auto;
}

.logo__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo__item:nth-of-type(2) {
    column-gap: 3px;
}

.logo__title--google {
    color: var(--primary-color-black-green);
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo__title--slack {
    color: var(--primary-color-black-green);
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__title--agworld {
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
}

.logo__title--riotinto {
    color: var(--primary-color-black-green);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__title--heroku {
    color: var(--primary-color-black-green);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* =================================================== Service =================================================== */

.service {
    margin-top: 56px;
}

.service-wrap {
    padding: 50px 0;
}

.service__heading-h2 {
    /* margin-top: 12px; */
    position: relative;
    width: 520px;
    /* height: 104px; */
    flex-shrink: 0;
}

.service__heading-h2::after {
    position: absolute;
    bottom: 15px;
    right: 100px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__action {
    position: relative;
    top: 20px;
    margin-right: 73px;
    width: 127px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background: var(--primary-color-black-green);
    border-radius: 50%;
    color: #fff;
    transition: 0.25s;
    border: 1px solid var(--primary-color-black-green);
}

.action__btn:hover {
    background-color: #E2EDDF;
    color: var(--primary-color-black-green);
}

.action__left {
    rotate: 180deg;
}

.service-row-2 {
    margin-top: 18px;
}

.service-row-3 {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    /* background-color: orange; */
}

/*  row-3 */
.article {
    border-radius: 20px;
}

article:hover {
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

article:hover .inner-img {
    scale: 1.1;
}

.article__img {
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.inner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.25s;
}

.article__content {
    padding: 24px 18px;
}

.article__heading {
    color: var(--primary-color-black);
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.article__desc {
    margin-top: 18px;
    width: 268px;
    color: var(--text-color-light-gray);
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7;
    /* 171.429% */
}

/* =================================================== about =================================================== */

.about {
    padding: 150px 0 40px;
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__media {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 51%;
    height: 557px;
    flex-shrink: 0;
    /* background-color: orange; */
}

.media__image {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    overflow: hidden;

}

.media__image:nth-of-type(2) {
    margin-top: 13px;
    align-self: flex-start;
}

/* media__content */
.media__content {
    position: absolute;
    bottom: 8px;
    right: -9px;
    font-family: "Public Sans";
    width: 143px;
    height: 144px;
    background: #fff;
    /* background: orange; */
    padding: 19px 23px 12px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    transition: 0.25s;
}

.media__content:hover {
    background: #c6ddda;

}

.content__heading {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.content__desc {
    margin-top: 6px;
    color: var(--text-color-back-gray);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
}

.content__survey {
    margin-top: 10px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    /* 140% */
}

.content__progress {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.content__progress-inner {
    width: 40%;
    border-radius: 10px;
    height: 2px;
    background: #83A17D;
}

.content__loading {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: end;
    /* 140% */
}

.content__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EAEAEA;
}

.content__dot-inner {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #143C3C;
}

.content__team {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team__title {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    /* 140% */
}

.team__avatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar__item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* background-color: orange; */
    margin-left: -6px;
}

.avatar__item:nth-of-type(1) {
    background-color: #E0E2E4;
}

.avatar__item:nth-of-type(2) {
    background-color: #868688;
}

.avatar__item:nth-of-type(3) {
    background-color: #BDC1C2;
}

.avatar__item:nth-of-type(4) {
    background-color: #051B1C;
}

.content__flower {
    position: absolute;
    top: -40px;
    left: 75px;
}


/* about__content */
.about__content {
    padding-left: 70px;
    align-self: stretch;
}

.content__heading-section {
    margin-top: 10px;
}

.section__desc-content {
    margin-top: 11px;
}

.content__main-survey {
    position: relative;
    padding-bottom: 20px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main-survey::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 485px;
    height: 1px;
    background: #83A17D;
}

.survey__number {
    color: var(--primary-color-black);
    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
    /* 123.81% */
}

.survey__desc {

    width: 364px;
    color: var(--text-color-light-gray);
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
    /* 171.429% */
}

/* =================================================== process =================================================== */

.process {
    padding: 40px 0;
}

.process-wrap {
    padding-top: 36px;
}

.process__heading-h2 {
    margin-top: 20px;
    position: relative;
    width: 520px;
}

.process__heading-h2::after {
    position: absolute;
    bottom: 21px;
    right: 38px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.process__list {
    margin-top: 81px;
}

.process__item {
    position: relative;
    height: 185px;
    /* padding: 55px 40px 30px 30px; */
    padding: 0 40px 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 33px;
}

.process__item:hover {
    background: #E2EDDF;
}

.process__item:hover .process__line {
    display: none;
}

.process__item:hover .process__link {
    display: block;
}

.process__order {
    width: 100px;
    margin-right: 67px;
    color: var(--primary-color-black-green);
    /* Heading/H1 72px bold */
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.72;
    /* 72.222% */
}

.process__title {
    color: var(--primary-color-black);
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.process__name {
    position: relative;
    width: 20%;
}

.process__link {
    padding: 8px 16px;
    position: absolute;
    left: -16px;
    bottom: -40px;
    display: none;
    color: var(--text-color-back-gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    /* 100% */
}

.process__desc {
    width: 572px;
    color: var(--text-color-light-gray);
    margin-left: auto;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

.process__line {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 1131px;
    height: 3px;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
}

.process__img {
    position: absolute;
    right: 60px;
    bottom: 0;
    width: 450px;
    height: 444px;
}

/* =================================================== feature =================================================== */
.feature {
    margin-top: 100px;
    padding: 116px 130px 63px;
    background: var(--primary-color-black-green);
}

/* feature__content */
.feature__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__heading-h2 {
    position: relative;
    width: 40%;
    color: #E7F9F9;

}

.feature__heading-h2::after {
    position: absolute;
    bottom: 20px;
    right: 100px;
    content: "";
    width: 66px;
    height: 2px;
    background: #83A17D;

}

.feature__sub-content {
    width: 52%;
    padding-right: 80px;
}


.feature__desc {
    color: #6A8383;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

.feature__action {
    /* background: orange; */
    padding: 13px;
    margin-left: -13px;
    margin-bottom: -13px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

}

.feature__action:hover .feature__btn {
    color: #00fff2;
}

.feature__action--title {
    color: #FFF;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

.feature__btn {
    display: inline-block;
    color: #80A07B;
    margin-left: 10px;
    padding: 8px 16px;
}



/* feature__media */
.feature__media {
    position: relative;
    margin-top: 70px;
    width: 1140px;
    height: 544px;
    border-radius: 22px;
}

.media__action {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    color: #fff;
    background: #0f131398;
}

.button-play {
    transition: 0.25s;
}

.media__action:hover .button-play {
    scale: 1.2;
}

.flower-feature {
    position: absolute;
    top: -70px;
    right: -70px;
}

.flower-line-feature {
    position: absolute;
    top: -143px;
    right: -141px;
    rotate: 270deg;
    transform: rotateX(180deg);
}

/* =================================================== Service 2 =================================================== */
.service-2 {
    margin-top: 100px;
    padding: 40px 0;
    text-align: center;
}

.service-2__heading {
    width: 520px;
    margin: 0 auto;
}

.service-2_desc {
    margin-top: 20px;
    width: 547px;
    margin: 20px auto 0 auto;
}

.service-2__list {
    margin-top: 44px;
    height: 421px;
    display: flex;
    column-gap: 45px;
    align-items: flex-end;
}

.service-item:nth-of-type(2) {
    /* align-self: flex-start; */
}

.service-item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    padding: 60px 43px;
    transition: 0.25s;
}

.service-item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    border: 1.5px solid #fff;

}

.service-2__title {
    margin-top: 25px;
    color: #152427;
    /* Paragraph/h1 20px semibold */
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.service-item__desc {
    font-size: 1.4rem;
    margin-top: 12px;
    line-height: 1.71;
    /* 171.429% */
}


/* =================================================== Blog =================================================== */

.blog {
    padding: 104px 0 40px 0;
}

.blog__item {
    border-radius: 40px 40px 20px 20px;
}

.blog__item:hover .blog__btn {
    background-color: var(--primary-color-black-green);
    color: #fff;
}

.blog__content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading-h2 {
    position: relative;
    width: 520px;
}

.blog__heading-h2::after {
    position: absolute;
    right: -50px;
    bottom: 18px;
    content: "";
    width: 82px;
    height: 3px;
    background: var(--primary-color-black)
}

.blog__desc {
    width: 409px;
}

/* blog__list */
.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

}


/* blog__item */
.blog__item-content {
    position: relative;
    padding: 26px 30px 12px 30px;
    height: 200px;
}

.blog__img {
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
}

.blog__link {}

.blog__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */

    width: 107px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E2EDDF;
}

.blog__line {
    position: absolute;
    bottom: 26px;
    margin-bottom: 15px;
    margin-top: auto;
    width: calc(100% - 60px);
    height: 1px;
    background: #C4C4C4;
}

.blog__datetime {
    position: absolute;
    bottom: 12px;
    right: 30px;
    color: var(--text-color-back-gray);
    text-align: end;
    /* Paragraph/10px */
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
}

/* =================================================== Footer =================================================== */
.footer {
    background: var(--primary-color-black-green);
    margin-top: 60px;
    padding: 70px 0 50px;
}

.footer-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.footer-wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
}


.footer__right {
    /* width: 40%; */
}

.footer__heading {
    color: var(--text-color-white);

    /* Heading/H4 32px semibold */
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;


    /* Heading/H4 32px semibold */
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
}

.footer__email {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 36px;
}

.footer__email::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 354px;
    height: 1px;
    background: #6A8383;
}

.email__input {

    color: #6A8383;
    margin-right: 15px;
    /* Heading/h1 22px semibold */
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    border: none;
    background: none;
    /* 100% */
}


.email__action {
    color: #fff;
    padding: 8px 12px;
    border: none;
    background: none;
}

.email__action:hover {
    color: #00fbff;
}

/* footer__social */
.footer__social {
    margin-top: 47px;
    display: flex;
    column-gap: 22px;

}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #688282;
}

.social__item:hover {
    background: #A1521E;
    border: #A1521E;
}

/* footer__right */
.footer__right {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 50px;
    padding-top: 22px;

}

.footer__col-title {
    color: var(--text-color-white);

    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

.footer__list {
    margin-top: 21px;
}

.footer__item {
    padding: 3% 0;
}

.footer__item a {
    color: var(--Scondery-color-gray, #6A8383);

    /* Paragraph/h5 16px medium */
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
    /* 225% */
}

.footer__item:hover a {
    color: #fff;
}