/*  font-family: "Poppins", sans-serif; */
/*   font-family: "Public Sans", sans-serif; */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 10000px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;

}

/* Common */
.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

:root {
    --text-color-back-gray: #575D5E;
    --primary-color-black-green: #143C3C;
    --text-color-white: #FFF;
    --primary-color-black: #152427;
    --Scondery-color-light-green: #E2EDDF;
    --text-color-light-gray: #7D8188
}

a {
    text-decoration: none;
}

.btn {
    min-width: 173px;
    height: 57px;
    background: var(--primary-color-black-green);
    border-radius: 99px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color-black-green);

    /* Paragraph/h2 18px medium */
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
    transition: 0.25s;
}

.btn:hover {
    background: var(--text-color-white);
    color: var(--primary-color-black-green);
}

.section__heading-h1 {
    color: var(--primary-color-black);

    /* Heading/H2 50px Extra bold */
    font-family: "Public Sans";
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    /* 120% */
}

.section_desc {
    margin-top: 12px;
    color: var(--text-color-back-gray);
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

/* .section__title */
.section__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-black);
    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
}

.section__title::before {
    margin-right: 21px;
    display: block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

/* section__heading-h2 */
.section__heading-h2 {
    /* height: 104px; */
    color: var(--primary-color-black);

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.23;
    /* 123.81% */
}

.section__desc {
    color: var(--text-color-light-gray);
    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
}

/* =================================================== Header =================================================== */
.header {
    font-family: "Public Sans", sans-serif;
    position: sticky;
    top: -7px;
    z-index: 3;
    background: #fff;
}

.header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 13px;

}

.header-wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);

}

.nav {
    margin-left: 400px;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 38px; */
}

.nav__item-link {
    position: relative;
    color: var(--text-color-back-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding: 8px 19px;
    /* 155.556% */
}

.nav__item-link:hover {
    color: var(--primary-color-black);
}

.nav__item:hover .nav__item-link::after {
    position: absolute;
    bottom: -22px;
    left: 19px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green)
}


/* =================================================== Hero =================================================== */
.hero {
    padding: 6% 0 12%;
    height: calc(100vh - 90px);
}

.hero-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
}

/* row-action */
.row-action {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-video__title {
    margin-left: 15px;
    color: #152427;
    text-align: center;

    /* Paragraph/h3 18px bold */
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

.btn-video__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #86A17C;
    border-radius: 50%;
    color: var(--text-color-white);
    border: 1px solid #86A17C;
}

.btn-video__link:hover .btn-video__icon {
    color: #86A17C;
    background-color: #fff;
}

.btn-video-icon-1 {
    position: absolute;
    left: -8px;
    top: -7px;
}

/* hero__images */
.hero__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 23px;
    width: 57%;
    height: 543px;
}

.hero_img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    overflow: hidden;
}

.hero_img:nth-of-type(2) {
    align-self: flex-end;
}

.hero__img-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flower__line-1 {
    position: relative;
    display: inline-block;
    top: -587px;
    left: 340px;
}

.flower-1 {
    position: absolute;
    top: 0;
    left: -45px;
}

.flower__line-2 {
    position: relative;
    display: inline-block;
    top: -305px;
    left: -62px;
}

.flower-2 {
    position: absolute;
    bottom: 29px;
    right: -42px;
}

/* =================================================== section-logo-wrap =================================================== */
.section-logo {
    margin-top: 42px;
}

.section-logo-wrap {


    border-radius: 100.5px;
    background: var(--Scondery-color-light-green);
    padding: 78px 0;
}

.section-logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 879px;
    margin: 0 auto;
}

.logo__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo__item:nth-of-type(2) {
    column-gap: 3px;
}

.logo__title--google {
    color: var(--primary-color-black-green);
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo__title--slack {
    color: var(--primary-color-black-green);
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__title--agworld {
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
}

.logo__title--riotinto {
    color: var(--primary-color-black-green);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__title--heroku {
    color: var(--primary-color-black-green);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* =================================================== Service =================================================== */

.service {
    margin: 56px 0 100px;
}

.service-wrap {
    padding: 50px 0;
}

.service__heading-h2 {
    /* margin-top: 12px; */
    position: relative;
    width: 520px;
    /* height: 104px; */
    flex-shrink: 0;
}

.service__heading-h2::after {
    position: absolute;
    bottom: 15px;
    right: 100px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__action {
    position: relative;
    top: 20px;
    margin-right: 73px;
    width: 127px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background: var(--primary-color-black-green);
    border-radius: 50%;
    color: #fff;
    transition: 0.25s;
    border: 1px solid var(--primary-color-black-green);
}

.action__btn:hover {
    background-color: #E2EDDF;
    color: var(--primary-color-black-green);
}

.action__left {
    rotate: 180deg;
}

.service-row-2 {
    margin-top: 18px;
}

.service-row-3 {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    /* background-color: orange; */
}

/*  row-3 */
article:hover {
    border-radius: 20px;
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

article:hover .inner-img {
    scale: 1.1;
}

.article__img {
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.inner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.25s;
}

.article__content {
    padding: 24px 18px;
}

.article__heading {
    color: var(--primary-color-black);
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.article__desc {
    margin-top: 18px;
    width: 268px;
    color: var(--text-color-light-gray);
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7;
    /* 171.429% */
}

/* =================================================== about =================================================== */

.about {
    padding: 50px 0 40px;
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__media {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 51%;
    height: 557px;
    flex-shrink: 0;
    /* background-color: orange; */
}

.media__image {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    overflow: hidden;

}

.media__image:nth-of-type(2) {
    margin-top: 13px;
    align-self: flex-start;
}

/* media__content */
.media__content {
    position: absolute;
    bottom: 8px;
    right: -9px;
    font-family: "Public Sans";
    width: 143px;
    height: 144px;
    background: #fff;
    /* background: orange; */
    padding: 19px 23px 12px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    transition: 0.25s;
}

.media__content:hover {
    background: #7aa7a1;

}

.content__heading {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.content__desc {
    margin-top: 6px;
    color: var(--text-color-back-gray);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
}

.content__survey {
    margin-top: 10px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    /* 140% */
}

.content__progress {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.content__progress-inner {
    width: 40%;
    border-radius: 10px;
    height: 2px;
    background: #83A17D;
}

.content__loading {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: end;
    /* 140% */
}

.content__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EAEAEA;
}

.content__dot-inner {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #143C3C;
}

.content__team {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team__title {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    /* 140% */
}

.team__avatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar__item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* background-color: orange; */
    margin-left: -6px;
}

.avatar__item:nth-of-type(1) {
    background-color: #E0E2E4;
}

.avatar__item:nth-of-type(2) {
    background-color: #868688;
}

.avatar__item:nth-of-type(3) {
    background-color: #BDC1C2;
}

.avatar__item:nth-of-type(4) {
    background-color: #051B1C;
}

.content__flower {
    position: absolute;
    top: -40px;
    left: 75px;
}


/* about__content */
.about__content {
    padding-left: 70px;
    align-self: stretch;
}

.content__heading-section {
    margin-top: 10px;
}

.section__desc-content {
    margin-top: 11px;
}

.content__main-survey {
    position: relative;
    padding-bottom: 20px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main-survey::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 485px;
    height: 1px;
    background: #83A17D;
}

.survey__number {
    color: var(--primary-color-black);
    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
    /* 123.81% */
}

.survey__desc {

    width: 364px;
    color: var(--text-color-light-gray);
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
    /* 171.429% */
}